body, div, p {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

ul {
  list-style: none;
  padding-left: 0px; }

h1 {
  font-family: 'Chicle', cursive;
  font-size: 70px;
  margin: 0px;
  margin-top: 10px;
  text-align: center; }

body {
  background-color: #FFFAF0; }

/*Main container*/
.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 600px;
  max-height: 100%;
  margin: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

/*Playing field container*/
.container_2 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 37px 9px rgba(0, 0, 0, 0.45);
          box-shadow: 0px 0px 37px 9px rgba(0, 0, 0, 0.45);
  background-color: white;
  border-radius: 10px;
  max-width: 100%;
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

/*the ul element that holds all of the cards*/
.deck {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

/*Input field for the name*/
input {
  width: 200px;
  height: 70px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: transparent;
  border: 2px solid #B8B8B8;
  -webkit-box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.75);
  font-family: 'Chicle', cursive;
  text-align: center;
  font-size: 30px; }

/*Input field and it's button container*/
.inputDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 20%; }

/*All of the images*/
.fa {
  font-size: 40px;
  margin: auto;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

/*Card flip*/
.flip {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg); }

/*Card back side*/
.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.75);
  background: radial-gradient(#FFC06B, #CD7600);
  width: 120px;
  height: 120px;
  margin: 0.5em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d; }

/*back of the card*/
.back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  cursor: default;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.75);
  background: radial-gradient(#65E1FF, #0086A7);
  width: 120px;
  height: 120px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg); }

/*Not a match flip*/
.badCard {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg); }

/* Score tab*/
.score_tab {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 50px;
  margin-bottom: 10px; }

/*Star display*/
.starsDisp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 25%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

/*Moves display*/
.moves {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 25%;
  font-size: 30px; }

/*Buttons.......................................*/
/*menu button*/
.menu {
  margin-left: 10px;
  border: 2px solid #EBA292;
  margin-right: 20px; }

/*Menu button hovering*/
.menu:hover {
  border: 2px solid #F05A3A;
  background-color: #EBA292; }

/*back button*/
.backB {
  margin: 30px;
  margin-bottom: 0px;
  width: 70px;
  height: 30px;
  font-size: 10px; }

/*restart button*/
.pa {
  margin: 0px; }

/*Restart button container*/
.restart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

/*the container of the buttons in the winning screen*/
.buttonWin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 20%; }

/*Button container in the winning screen*/
.buttonCont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 60%; }

/*Button styling*/
button {
  -webkit-box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.75);
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  font-size: 15px;
  border: 5px solid #EBA292;
  background-color: #F05A3A; }

/*Button hover change*/
button:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.75);
  border: 5px solid #F05A3A;
  background-color: #EBA292; }

/*submit button for submiting the name into the localStorage*/
.submit {
  border-radius: 10px;
  margin: 30px;
  width: 100px;
  height: 40px;
  font-size: 10px; }

/*Submit hover change*/
.submit:hover {
  border-radius: 10px;
  margin: 30px;
  width: 100px;
  height: 40px; }

/*Start button*/
.staButton {
  margin: 2em;
  border-radius: 40px;
  width: 20em;
  height: 7em; }

/*highscores button*/
.highButton {
  margin: 2em;
  border-radius: 40px;
  width: 20em;
  height: 7em; }

/*Screens...............................................*/
/*Winning screen*/
.winning {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%; }

/*Main menu screen*/
.start {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  z-index: 1;
  box-sizing: border-box;
  background-color: #DBD4C9;
  border-radius: 10px;
  width: 600px;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none; }

/*higscore modal*/
.highCont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #DBD4C9;
  position: absolute;
  z-index: 2;
  width: 600px;
  height: 600px;
  padding: 10px;
  border-radius: 10px;
  padding-bottom: 20px;
  display: none; }

/*top container of the high modal*/
.topCont {
  height: 20%;
  width: 100%; }

/*leaderboard ul list*/
.leaderListUL {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: auto;
  overflow: auto;
  margin-top: 10px;
  border: 2px solid silver;
  -webkit-box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.75);
  width: 90%;
  height: 70%;
  font-size: 30px;
  font-family: 'Source Sans Pro', sans-serif;
  text-shadow: 2px 2px #B8B8B8; }

/*leaderbord li elements*/
.leaderList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 5px; }

/*Winning screen modal*/
.modal {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  z-index: 1;
  box-sizing: border-box;
  background-color: #DBD4C9;
  border-radius: 10px;
  width: 600px;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none; }

/*Text.........................................................*/
/*Text of the menus*/
.text {
  font-size: 30px;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  text-shadow: 2px 2px #B8B8B8; }

/*The text of the time and other scores in the winning screen*/
.clockText {
  font-size: 30px;
  margin: auto; }

/*highscore screen text*/
.highText {
  font-size: 30px;
  text-align: center;
  margin-top: 0px;
  margin-top: 0px;
  border-bottom: 3px solid silver; }

/*timer display*/
.timeDisp {
  text-align: center;
  font-size: 30px;
  width: 10%; }
